<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Heroku Java Project</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link rel="stylesheet" type="text/css"
	href="../assets/css/herokuStyles.css" /> 
	
	<style> 
div {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 40s;
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>
	
	
</head>
<body>
	 <div class="topcont">
		<div class="brandsec">
			<img src="../assets/img/Heroku.png" width="85%" alt="Heroku" />
		</div>
		<div class="rgtsect">
			<h1>
				<b>Heroku Java Project - Updated </b>
				
				Dev updates verification
			</h1>
			<img src="../assets/img/github.png" width="7%" alt="Github" />
		</div>
	</div>
	<div class="wrapper">
		<nav role="main">
			<ul>
				<li><a href="/" class="active">Home</a></li>				
			</ul>
		</nav>
		<main>
		<h1>
			<b>Home Page</b>
		</h1>
		<div class="flex-grid">
			<div>
				<h2>
					<b>Welcome to Heroku - Java Home page</b>
				</h2>
				Details about the project will be displayed.
			</div>
			
			
<h1>CSS Animation</h1>

<div> PREETAM DUBEY</div>

<p><b>Note:</b> When an animation is finished, it goes back to its original style.</p>
			
			
		</div>
		</main>
	</div> 

</body> 
</html>
